# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Serverless
.serverless/

# Node.js
node_modules/
npm-debug.log

# Virtual Environment
venv/

# Dependency directories
pandas/

# Serverless dependencies
.env
.serverless/
.env.local

# Editor-specific files
.vscode/
.idea/

# Logs
*.log

# Environment variables file
.env
credentials.py
